#about {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 248, 255);
}

#about p {
    margin-bottom: 15px;
    line-height: 1.6;
}

#about-text {
    margin-left: 400px;
}

.about-section h2 {
    font-size: 3em;
}