#about {
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 95, 95);
}

#about p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.about-text {
    padding: 0 300px;
    margin-left: 400px;
}

.about-section h2 {
    font-size: 3em;
}