#skills-hobbies {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(190, 218, 89);
}
  
.skills-hobbies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
  
.skills-hobbies-box {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 0;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#skills-hobbies h2 {
    font-size: 3em;
}