#certifications {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(149, 133, 133);
}
  
#certifications ul {
    list-style-type: none;
    padding: 0;
}
  
#certifications li {
    margin-bottom: 20px;
}
  
#certifications a {
    color: #007BFF;
    text-decoration: none;
}
  
#certifications a:hover {
    text-decoration: underline;
}
  