.full-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f0f0f0;
}
  
#education ul {
    list-style-type: none;
    padding: 0;
}
  
#education li {
    margin-bottom: 20px;
}
  
#education a {
    color: #007BFF;
    text-decoration: none;
}
  
#education a:hover {
    text-decoration: underline;
}
  
.resources {
    margin-top: 10px;
}
  
.resources a {
    margin-right: 15px;
    display: inline-block;
}
  
.certificate-img {
    width: 100px;
    height: auto;
    display: block;
    margin-top: 10px;
}