#languages {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(77, 28, 28);
}
  
#languages ul {
    list-style-type: none;
    padding: 0;
    line-height: 3.0;
}
  
#languages li {
    margin-bottom: 10px;
}

#languages h2 {
    font-size: 3em;
}