#work-experience {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 400px;
    background-color: rgb(143, 218, 89);
}
  
#work-experience ul {
    list-style-type: none;
    line-height: 1.6;
}
  
#work-experience li {
    margin-bottom: 20px;
}
  
#work-experience a {
    color: #007BFF;
    text-decoration: none;
}
  
#work-experience a:hover {
    text-decoration: underline;
}
  
#work-experience h2 {
    font-size: 3em;
}