.full-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #e0e0e0;
}
  
#work-experience ul {
    list-style-type: none;
    padding: 0;
}
  
#work-experience li {
    margin-bottom: 20px;
}
  
#work-experience a {
    color: #007BFF;
    text-decoration: none;
}
  
#work-experience a:hover {
    text-decoration: underline;
}
  